.wrapper {
    background-color: #EAF2E3;
    border-radius: 10px;
    color: #1D1A05;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}